#main
  .container
    .left_wrapper
      .user_profile
        .uname
          .avatar
            %img{:alt => "Normal_dumpling", :src => "/normal_dumpling.png"}/
          .detail
            %h1#user_name
              炸鲜奶
              %span ，
              %span#user_tagline 慎言
            .website
              %a#user_website{:href => "http://friedmilkbox.blogbus.com/", :rel => "nofollow", :target => "_blank"} http://friedmilkbox.blogbus.com/
            .bio
              %span#user_bio 广东南蛮土生土长
              %div 目前魔都广告忽悠学在读
              %div 吐槽暴走中