.content
  .from
    = link_to post.title, post
  %p
    = link_to post.user.name, user_path(post.user)
  %p
    - if post.attribute_present? 'picture_filename'
      = image_tag( post.picture.thumb.url )
    %br
    = (post.description).html_safe