- if posts.length > 0
  - for post in posts
    .stream_element{ :data => { :guid => post.id } }
      .sm_body
        %a{ :herf => "/" }
          = image_tag('thumb_small.jpg',  :class => "avatar")
          
        .content
          .from
            = link_to "post.title", post
          %p
            = link_to post.user.username, user_path(post.user)
          %p
            = (post.content).html_safe