- if contents.length > 0
  - for content in contents
    .stream_element{ :data => { :guid => content.id } }
      .sm_body
        %a{ :herf => "/" }
          = image_tag('thumb_small.jpg',  :class => "avatar")
          
        .content
          .from
            =link_to content.title, content
          %p
            =link_to content.user.username, user_path(content.user)
          %p
            = (content.content).html_safe