- if posts.length > 0
  - for post in posts
    .stream_element{ :data => { :guid => post.id } }
      .sm_body
        %a{ :herf => "/" }
          = image_tag('thumb_small.jpg',  :class => "avatar")
        - case post._type
          - when "Recipe"
            = render 'shared/recipe',
              :post => post
          - when "Shared"
            = render 'shared/shared',
              :post => post