.span-15.append-2
  #stream_container
    = render 'stream',
      :posts => @posts,
      :user => @user
  %br

/ Show the right sidebar
.span-7.last{:style => "height:400px;"}
  = render "sidebar", :user => @user