body {
  padding: 2em;
  margin: 0{
    top: 60px;
  }
  background-color: rgb(252,252,252);
}

header {
  color: #CCC;
  -webkit-box-shadow: 0 1px 3px #222;
  -moz-box-shadow: 0 1px 3px #222;
  box-shadow: 0 1px 3px #222;
  background: rgba(12, 12, 12, 0.925);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=$from,endColorstr=$to);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=rgba(15, 15, 15, 0.85), endColorstr=#0A0A0A)";
  background: -webkit-gradient(linear,0% 0,0% 100%,from(rgba(15, 15, 15, 0.85)),to(#0A0A0A));
  background: -moz-linear-gradient(top,rgba(15, 15, 15, 0.85) 0,#0A0A0A 100%);
  z-index: 50;
  padding: 0;
  padding-top: 2px;
  color: #CCC;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

header ul#user_menu a {
  padding-right: 15px;
  color: #CCC;
}
ul#landing_nav {
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style-type: none;
}
ul#landing_nav > li {
	display: inline;
	margin-right: .5em;
	text-shadow: 0 1px 0 black;
}
header {
  color: #CCC;
  -webkit-box-shadow: 0 1px 3px #222;
  -moz-box-shadow: 0 1px 3px #222;
  box-shadow: 0 1px 3px #222;
  background: rgba(12, 12, 12, 0.925);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=$from,endColorstr=$to);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=rgba(15, 15, 15, 0.85), endColorstr=#0A0A0A)";
  background: -webkit-gradient(linear,0% 0,0% 100%,from(rgba(15, 15, 15, 0.85)),to(#0A0A0A));
  background: -moz-linear-gradient(top,rgba(15, 15, 15, 0.85) 0,#0A0A0A 100%);
  z-index: 50;
  padding: 0;
  padding-top: 2px;
  color: #CCC;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

#login_field {
  text-align: left;
  font-style: italic;
  margin-top: 14px;
  margin-left: 540px;
  color: #888;
}

p {
  word-wrap: break-word;
}

.right {
  position: absolute;
  right: 0;
}

a {
  color: #107FC9;
  color: #3F8FBA;
  text-decoration: none;
  color: #CCC;
}

header ul#user_menu a {
  padding-right: 15px;
  color: #CCC;
}
ul#landing_nav {
  margin: 0;
  padding: 0;
  font-size: 14px;
  list-style-type: none;
}
ul#landing_nav > li {
	display: inline;
	margin-right: .5em;
	text-shadow: 0 1px 0 black;
}

ul#landing_nav > li a {
  color: #3F8FBA;
}
.right {
  position: absolute;
  right: 0;
  top:10px;
}
header ul#user_menu .right {
  right: 5px;
}

ul#landing_nav > li a.login {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px #666;
  -moz-box-shadow: 0 1px 1px #666;
  box-shadow: 0 1px 1px #666;
  padding: 5px 8px;
  background-color: black;
  border-top: 1px solid black;
}

///footer
footer {
  width: 100%;
  left: 0;
  bottom: 0;
  color: #999;

  .container {
    margin-top: 4em;
    padding-top: 0.5em;
    border-top: 1px solid #ddd;
  }
  
  img { 
    position: relative;
    top: 2px;
  }

  ul#footer_nav {
    margin: 0;
    padding: 0;
    display: inline-block;
    float: right;

    > li {
      display: inline;
      margin-right: 1em;

      &:last-child {
        margin {
          right: 1em;
        }
      }
    }

    a: { 
      color: #777;
    }
  }
}
