a.gray_button {
  height: 24px;
  width: 80px;
  background: #EEE;
  display: inline-block;
  line-height: 24px;
  padding: 2px 10px 1px 10px;
  background: white url(/images/gray_button_bg.gif?1301366040) bottom left repeat-x;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-decoration: none;
  color: black;
  border: 1px solid #BBB;
  border-color: #BBB #BBB #999 #999;
  text-align: center;
}

a.green_button {
  background: #DFF0B1 url(/images/green_button_bg.gif?1301366040) bottom left repeat-x;
  border: 1px solid #8CB332;
  border-bottom: 1px solid #648517;
  color: #406A24;
  text-shadow: 0 1px #D4ED95;
  font-weight: bold;
}

.gray {
color: gray;
font-color: 1em;
}
.box {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
background-color: white;
}
ul, ol {
list-style-position: inside;
margin: 2px 10px;
}

ul, menu, dir {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}



.follow-stats li {
list-style: none;
font-size: 1.2em;
border-right: 1px solid #E9E9E9;
float: left;
margin: 10px 15px 0 0;
padding: 0 15px 0 0;
width:90px;
}

.follow-stats li.last {
  border: 1px solid red;
  margin: 20px 0 0 0;
}


.user-regdate {
margin: 10px 0 10px 10px;
}

.follow-stats a {
  display: block;
}
.follow-stats li strong {
  color: black;
  display: block;
  font-size: 16px;
}
strong, b {
  font-weight: bolder;
}

.follow-stats li {
  list-style: none;
  font-size: 1.2em;
  border-right: 1px solid #E9E9E9;
  float: left;
  margin: 10px 15px 0 0;
  padding: 0 15px 0 0;
}
.follow-stats li.last {
  border: none;
  margin: 10px 0 0 0;
}

.sidebar li {
line-height: 160%;
}

user-regdate {
margin: 10px 0 10px 10px;
}